@media (max-width: 600px) {
  .ub-dspl_flex.ub-algn-itms_flex-start.ub-flx_1.ub-h_100prcnt.ub-box-szg_border-box {
    display: block;
  }
  .ub-pr_48px.ub-box-szg_border-box {
    margin-bottom: 20px;
  }
}
